<footer class="bg-transparent text-center page-footer bg-dark">
    <div class="text-center p-3">
      © 2022 <span class="d-none d-sm-inline">Copyright : </span><a href="https://twitter.com/Floliroy" class="copyright" target="_blank">Floliroy</a>
    </div>
</footer>