<%
let shareText = "Share Bans"
let shareLink = "/share"
if(locals.user && user.share){
    shareText = "Unshare Bans"
    shareLink = "/unshare"
}
%>


<header>
<%
    if(req.cookies.userId && req.cookies.accessToken){
%>
        <nav class="navbar container-fluid justify-content-center">

<%
            if(locals.user && user.share){
%>
            <form action="<%=shareLink%>" method="POST">
                <button class="btn btn-light me-3">
                    <%=shareText%>
                </button>
            </form>
<%
            }else{
%>
                <button type="button" class="btn btn-light me-3" data-toggle="modal" data-target="#modalShare">
                    <%=shareText%>
                </button>
<%
            }
%>
            <a class="btn btn-light" href="/logout">
                Log-Out
            </a>
        </nav>
<%
    }
%>
</header>